*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', ;
}
.mainBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: 10ex;
    border-color: rgb(248, 0, 0); ;
}


.quizBox{
    width: 60%;
    border: 7px solid rgb(253, 107, 10);
    border-radius: 20px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid rgb(134, 128, 128);
}
.quizBody{
    width: 100%;
    padding: 8px;
}
.quizBody h4{
    font-size: 20px;
    font-weight:600 ;
   
}
.quizBody div{
    margin: 20px 0;
}
.quizBody li{
    list-style: none;
    margin: 20px 0;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    color: rgb(43, 43, 43);
    font-size: 20px;
    
}
.quizBody li:hover{
    background-color: grey;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-top: 1px solid black ;
    align-items: center ;
}
.footer button{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: chocolate;
    color: white;
    cursor: pointer;
}
#resultBox{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 40vh;
    border: 10px solid darkblue ; border-radius: 15px;
    height: 100%;
}
.result-box{
    margin-top: 20%;
    margin-bottom: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.result-box>div{
    font-size: 40px;
}
.result-style{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 900;
    color:rgb(74, 74, 77);
    text-transform: uppercase;
}
body{background: rgb(223, 233, 231);
    background: linear-gradient(139deg, rgb(9, 157, 255) 0%, rgb(44, 6, 114) 100%);
}
@media screen and (max-width:600px) {
    .quizBox{
        width: 90% !important;
        margin-top: 60%;
       
    }
    .result-style{
        font-size: 15px;
    }
    .result-box>div{
        font-size: 15px;
    }
}